@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: linear-gradient(black 30%, rgba(255, 0, 0, 0.644));

    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    background-color: black;

    margin: 0;

    height: 80px;
}


h1 {
    margin-left: 20px;
    text-align: left;
    font-size: 58px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

h2 {
    margin: 90px;
    margin-right: 15px;
    font-size: 78px;
    text-align: right;
}


img {
    width: 200px;
    height: 200px;
    margin: 5px;
    filter: brightness(60%);
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    margin: 15vh;
    margin-top: 10vh;

    border-color: black;
    border-width: 3px;
    border-style: solid;

    background-color: rgb(51, 49, 49);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

img:hover {
    border-radius: 20px;
    filter: brightness(95%);
    transform: scale(1.2, 1.2);
    z-index: 100;
    transition: .2s;

    box-shadow: black 0px 0px 20px 10px;

    display: block;
}

#H {
    background-color: red;
    width: 150px;
    height: 75px;
    margin-left: 10px;
    color: black;
}

.example {
    position: relative;
}

.text {
    display: none;
    position: absolute;
    font-size: 32px;
    z-index: 1;
    top: 5%;
    letter-spacing: 10px;
    text-align: center;

    color: white;
    font-weight: 800;
    border: 5px solid black;
    background-color: red;
}

.example:hover .text{

    display: block;
    letter-spacing: 3px;
    z-index: 2000;
}

.example:hover{
    z-index: 3000;
}

.text:hover{
    opacity: 0;
    transition: 0s;
    cursor:default;
}
